{% extends 'base.html' %}

{% block maindiv %}
<script>
  mode = "past_work";
  resetAndGetInfoForDropDown2();
</script>
    <div  class="alert alert-info" role="alert" id="instruction">Select a table name to view your previously-saved table. You must have saved at least one table to do this.</div>
<div id="main-div">
	<div class="center">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdown-menu-saved">Select Table Name <span class="caret"></span></button>
		<ul class="dropdown-menu scrollable-menu" role="menu" id="dropdown-ul-saved"></ul>
	</div>
	<button type="button" onclick="getAndDisplaySavedTableInfo()" class="btn btn-primary">Continue</button>
	<div id="loading-text"></div>
	</div>
</div>
{% endblock %}
